{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <form id="credentials-field">
        <input type="text"  id="username-field" placeholder="Enter your username">
        <input type="password"  id="password-field" placeholder="Enter your password">
    </form>
    <h1>Apar</h1>
    <h2>Welcome to the home page</h2>
    <p>With loginkey, i can access my personal, important documents from anywhere in the world, serves not only as a backup but also as a tool, inside, i will have a vault:where my documents or stuff are stored, a todolist:where stuff are written</p>
    <h3>Portfolio</h3>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>



